<a href="https://colab.research.google.com/github/paulosky311/Challenge-Alura-Store/blob/main/Challenger_Telecom.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Challenger_Telecom_Latam**

# 📌 Extracción

In [54]:
import pandas as pd

In [55]:
import requests

url = 'https://raw.githubusercontent.com/ingridcristh/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json'
response = requests.get(url)
data = response.json()

df = pd.DataFrame(data)
print(df.head())

   customerID Churn                                           customer  \
0  0002-ORFBO    No  {'gender': 'Female', 'SeniorCitizen': 0, 'Part...
1  0003-MKNFE    No  {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
2  0004-TLHLJ   Yes  {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
3  0011-IGKFF   Yes  {'gender': 'Male', 'SeniorCitizen': 1, 'Partne...
4  0013-EXCHZ   Yes  {'gender': 'Female', 'SeniorCitizen': 1, 'Part...

                                             phone  \
0   {'PhoneService': 'Yes', 'MultipleLines': 'No'}
1  {'PhoneService': 'Yes', 'MultipleLines': 'Yes'}
2   {'PhoneService': 'Yes', 'MultipleLines': 'No'}
3   {'PhoneService': 'Yes', 'MultipleLines': 'No'}
4   {'PhoneService': 'Yes', 'MultipleLines': 'No'}

                                            internet  \
0  {'InternetService': 'DSL', 'OnlineSecurity': '...
1  {'InternetService': 'DSL', 'OnlineSecurity': '...
2  {'InternetService': 'Fiber optic', 'OnlineSecu...
3  {'InternetService': 'Fiber optic', 'OnlineSecu...
4  {'InternetService': 'Fiber optic', 'OnlineSecu...

                                             account
0  {'Contract': 'One year', 'PaperlessBilling': '...
1  {'Contract': 'Month-to-month', 'PaperlessBilli...
2  {'Contract': 'Month-to-month', 'PaperlessBilli...
3  {'Contract': 'Month-to-month', 'PaperlessBilli...
4  {'Contract': 'Month-to-month', 'PaperlessBilli...

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB

# 🔧 Transformación

###Diccionario de Datos

- `customerID`: número de identificación único de cada cliente
- `Churn`: si el cliente dejó o no la empresa
- `gender`: género (masculino y femenino)
- `SeniorCitizen`: información sobre si un cliente tiene o no una edad igual o mayor a 65 años
- `Partner`: si el cliente tiene o no una pareja
- `Dependents`: si el cliente tiene o no dependientes
- `tenure`: meses de contrato del cliente
- `PhoneService`: suscripción al servicio telefónico
- `MultipleLines`: suscripción a más de una línea telefónica
- `InternetService`: suscripción a un proveedor de internet
- `OnlineSecurity`: suscripción adicional de seguridad en línea
- `OnlineBackup`: suscripción adicional de respaldo en línea
- `DeviceProtection`: suscripción adicional de protección del dispositivo
- `TechSupport`: suscripción adicional de soporte técnico, menor tiempo de espera
- `StreamingTV`: suscripción de televisión por cable
- `StreamingMovies`: suscripción de streaming de películas
- `Contract`: tipo de contrato
- `PaperlessBilling`: si el cliente prefiere recibir la factura en línea
- `PaymentMethod`: forma de pago
- `Charges.Monthly`: total de todos los servicios del cliente por mes
- `Charges.Total`: total gastado por el cliente

In [57]:
from pandas import json_normalize

df_normalizado = json_normalize(data)

df_normalizado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   customer.gender            7267 non-null   object
 3   customer.SeniorCitizen     7267 non-null   int64
 4   customer.Partner           7267 non-null   object
 5   customer.Dependents        7267 non-null   object
 6   customer.tenure            7267 non-null   int64
 7   phone.PhoneService         7267 non-null   object
 8   phone.MultipleLines        7267 non-null   object
 9   internet.InternetService   7267 non-null   object
 10  internet.OnlineSecurity    7267 non-null   object
 11  internet.OnlineBackup      7267 non-null   object
 12  internet.DeviceProtection  7267 non-null   object
 13  internet.TechSupport       7267 non-null   object
 14  internet.StreamingTV       7267 non-null   object
 15  internet.StreamingMovies   7267 non-null   object
 16  account.Contract           7267 non-null   object
 17  account.PaperlessBilling   7267 non-null   object
 18  account.PaymentMethod      7267 non-null   object
 19  account.Charges.Monthly    7267 non-null   float64
 20  account.Charges.Total      7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [70]:
df_normalizado.head()

,Id_cliente,churn,genero,Adulto_mayor,Partner,dependientes,tenure,servicio_telefonico,multiples_lineas,servicio_internet,...,respaldo_online,proteccion_dispositivo,soporte_tecnico,streaming_tv,streaming_movies,contrato,factura_digital,metodo_pago,facturacion_mensual,gasto_total
0,0002-ORFBO,0,Female,0,1,1,9,1,No,DSL,...,Yes,No,Yes,Yes,No,One year,1,Mailed check,65.6,593.30
1,0003-MKNFE,0,Male,0,0,0,9,1,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,0,Mailed check,59.9,542.40
2,0004-TLHLJ,1,Male,0,0,0,4,1,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,1,Electronic check,73.9,280.85
3,0011-IGKFF,1,Male,1,1,0,13,1,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,1,Electronic check,98.0,1237.85
4,0013-EXCHZ,1,Female,1,1,0,3,1,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,1,Mailed check,83.9,267.40

**Accciones más comunes**


*   Duplicados
*   Valores Vacíos
*   Valores Nulos
*   Tipos de datos
*   Valores atípicos
*   Consistencia y validez de datos categóricos
*   Normalización de textos

In [59]:
for col in df_normalizado.columns:
  print(f"valores únicos en la columna'{col}': {df_normalizado[col].nunique()}")
  if df_normalizado[col].nunique() < 50:
    print(df_normalizado[col].unique())
    print(''*50)

valores únicos en la columna'customerID': 7267
valores únicos en la columna'Churn': 3
['No' 'Yes' '']

valores únicos en la columna'customer.gender': 2
['Female' 'Male']

valores únicos en la columna'customer.SeniorCitizen': 2
[0 1]

valores únicos en la columna'customer.Partner': 2
['Yes' 'No']

valores únicos en la columna'customer.Dependents': 2
['Yes' 'No']

valores únicos en la columna'customer.tenure': 73
valores únicos en la columna'phone.PhoneService': 2
['Yes' 'No']

valores únicos en la columna'phone.MultipleLines': 3
['No' 'Yes' 'No phone service']

valores únicos en la columna'internet.InternetService': 3
['DSL' 'Fiber optic' 'No']

valores únicos en la columna'internet.OnlineSecurity': 3
['No' 'Yes' 'No internet service']

valores únicos en la columna'internet.OnlineBackup': 3
['Yes' 'No' 'No internet service']

valores únicos en la columna'internet.DeviceProtection': 3
['No' 'Yes' 'No internet service']

valores únicos en la columna'internet.TechSupport': 3
['Yes' 'No' 'No internet service']

valores únicos en la columna'internet.StreamingTV': 3
['Yes' 'No' 'No internet service']

valores únicos en la columna'internet.StreamingMovies': 3
['No' 'Yes' 'No internet service']

valores únicos en la columna'account.Contract': 3
['One year' 'Month-to-month' 'Two year']

valores únicos en la columna'account.PaperlessBilling': 2
['Yes' 'No']

valores únicos en la columna'account.PaymentMethod': 4
['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']

valores únicos en la columna'account.Charges.Monthly': 1585
valores únicos en la columna'account.Charges.Total': 6531

In [60]:
valores_blanco_vacios = df_normalizado.apply(lambda x: x.astype(str).str.strip() == '').sum()
print("\nValores en blanco o string vacíos por columna:")
print(valores_blanco_vacios[valores_blanco_vacios > 0])

Valores en blanco o string vacíos por columna:
Churn                    224
account.Charges.Total     11
dtype: int64

In [61]:
df_normalizado.columns

Index(['customerID', 'Churn', 'customer.gender', 'customer.SeniorCitizen',
       'customer.Partner', 'customer.Dependents', 'customer.tenure',
       'phone.PhoneService', 'phone.MultipleLines', 'internet.InternetService',
       'internet.OnlineSecurity', 'internet.OnlineBackup',
       'internet.DeviceProtection', 'internet.TechSupport',
       'internet.StreamingTV', 'internet.StreamingMovies', 'account.Contract',
       'account.PaperlessBilling', 'account.PaymentMethod',
       'account.Charges.Monthly', 'account.Charges.Total'],
      dtype='object')

In [62]:
df_normalizado.rename(columns={
    'customerID': 'Id_cliente',
    'Churn': 'churn',
    'customer.gender': 'genero',
    'customer.SeniorCitizen': 'Adulto_mayor',
    'customer.Partner': 'Partner',
    'customer.Dependents': 'dependientes',
    'customer.tenure': 'tenure',
    'phone.PhoneService': 'servicio_telefonico',
    'phone.MultipleLines': 'multiples_lineas',
    'internet.InternetService': 'servicio_internet',
    'internet.OnlineSecurity': 'seguridad_online',
    'internet.OnlineBackup': 'respaldo_online',
    'internet.DeviceProtection': 'proteccion_dispositivo',
    'internet.TechSupport': 'soporte_tecnico',
    'internet.StreamingTV': 'streaming_tv',
    'internet.StreamingMovies': 'streaming_movies',
    'account.Contract': 'contrato',
    'account.PaperlessBilling': 'factura_digital',
    'account.PaymentMethod': 'metodo_pago',
    'account.Charges.Monthly': 'facturacion_mensual',
    'account.Charges.Total': 'gasto_total'
}, inplace=True)

In [65]:

df_normalizado['gasto_total'] = df_normalizado['gasto_total'].replace('[\$,]', '', regex=True)

df_normalizado['gasto_total'] = pd.to_numeric(df_normalizado['gasto_total'], errors='coerce')


print(df_normalizado['gasto_total'].dtypes)
print(df_normalizado['gasto_total'].isna().sum())

float64
11

In [67]:
df_normalizado = df_normalizado[df_normalizado['churn'].notna()]        # elimina nulos
df_normalizado = df_normalizado[df_normalizado['churn'] != '']          # elimina vacíos

print("Valores nulos después de limpiar:", df_normalizado['churn'].isna().sum())
print("Valores vacíos después de limpiar:", (df_normalizado['churn'] == '').sum())

Valores nulos después de limpiar: 0
Valores vacíos después de limpiar: 0

In [68]:
#Estandarización de valores "Yes"/"No"


yes_no_columnas = [col for col in df_normalizado.columns if df_normalizado[col].dropna().isin(['Yes', 'No']).all()]

print("Columnas con valores 'Yes'/'No':")
print(yes_no_columnas)


df_normalizado[yes_no_columnas] = df_normalizado[yes_no_columnas].replace({'Yes': 1, 'No': 0})


print(df_normalizado[yes_no_columnas].head())

Columnas con valores 'Yes'/'No':
['churn', 'Partner', 'dependientes', 'servicio_telefonico', 'factura_digital']
   churn  Partner  dependientes  servicio_telefonico  factura_digital
0      0        1             1                    1                1
1      0        0             0                    1                0
2      1        0             0                    1                1
3      1        1             0                    1                1
4      1        1             0                    1                1

/tmp/ipython-input-68-1648158233.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_normalizado[yes_no_columnas] = df_normalizado[yes_no_columnas].replace({'Yes': 1, 'No': 0})

In [71]:
df_normalizado.head()

,Id_cliente,churn,genero,Adulto_mayor,Partner,dependientes,tenure,servicio_telefonico,multiples_lineas,servicio_internet,...,respaldo_online,proteccion_dispositivo,soporte_tecnico,streaming_tv,streaming_movies,contrato,factura_digital,metodo_pago,facturacion_mensual,gasto_total
0,0002-ORFBO,0,Female,0,1,1,9,1,No,DSL,...,Yes,No,Yes,Yes,No,One year,1,Mailed check,65.6,593.30
1,0003-MKNFE,0,Male,0,0,0,9,1,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,0,Mailed check,59.9,542.40
2,0004-TLHLJ,1,Male,0,0,0,4,1,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,1,Electronic check,73.9,280.85
3,0011-IGKFF,1,Male,1,1,0,13,1,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,1,Electronic check,98.0,1237.85
4,0013-EXCHZ,1,Female,1,1,0,3,1,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,1,Mailed check,83.9,267.40

In [72]:

columnas_extra = [
    'respaldo_online','proteccion_dispositivo',	'soporte_tecnico',	'streaming_tv',	'streaming_movies', 'multiples_lineas']


valores_a_reemplazar = {
    'Yes': 1,
    'No': 0,
    'No internet service': 0,
    'No phone service': 0
}


df_normalizado[columnas_extra] = df_normalizado[columnas_extra].replace(valores_a_reemplazar)


print(df_normalizado[columnas_extra].head())

   respaldo_online  proteccion_dispositivo  soporte_tecnico  streaming_tv  \
0                1                       0                1             1
1                0                       0                0             0
2                0                       1                0             0
3                1                       1                0             1
4                0                       0                1             1

   streaming_movies  multiples_lineas
0                 0                 0
1                 1                 1
2                 0                 0
3                 1                 0
4                 0                 0

/tmp/ipython-input-72-1396717531.py:13: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_normalizado[columnas_extra] = df_normalizado[columnas_extra].replace(valores_a_reemplazar)

**Columna de cuentas diarias**

# 📊 Carga y análisis

# 📄Informe final